{% if quiz %}
    <form action="/quizzes/{{ quiz.id }}" method="post">
{% else %}
    <form action="/quizzes" method="post">
{% endif %}
        <div>
            <label for="name">Name: </label>
            {% if quiz %}
                <input id="name" type="text" name="name" value="{{ quiz.name }}"/>
            {% else %}
                <input id="name" type="text" name="name" />
            {% endif %}

            <label for="name">Weight: </label>
            {% if quiz %}
                <input id="weight" type="text" name="weight" value="{{ quiz.weight }}"/>
            {% else %}
                <input id="weight" type="text" name="weight" />
            {% endif %}
        </div>
        <input type="submit" value="Save Quiz" />
    </form>