{% extends 'layouts/_default.twig' %}

{% block main_content %}
    <h2 style="margin:0">Quizzes:</h2>
    <ul>
        {% for quiz in quizzes %}
            <li>
                {{ quiz.name }} - 
                <a href="/quizzes/{{ quiz.id }}">View</a>
                 |
                <a href="/quizzes/{{ quiz.id }}/edit">Edit</a>
                 |
                <a href="/quizzes/{{ quiz.id }}/delete">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <div>
        <a href="/quizzes/new">Create New Quiz</a>
    </div>
{% endblock %}