<header style="background-color:lightgray; display:flex; justify-content:space-between; align-items:center; margin:0; padding:0 2rem 0 2rem">
    <h1>Tyler Bunker API</h1>
    <ul style="display:flex; list-style:none; ">
        <li style="padding: 0 1rem 0 1rem"><a style="text-decoration: none" href="/quizzes">Quizzes</a></li>
        <li style="padding: 0 1rem 0 1rem"><a style="text-decoration: none" href="/questions">Questions</a></li>
        <li style="padding: 0 1rem 0 1rem"><a style="text-decoration: none" href="/choices">Choices</a></li>
    </ul>
</header>