{% if choice %}
    <form action="/choices/{{ choice.id }}" method="post">
{% else %}
    <form action="/choices" method="post">
{% endif %}
        <div>
            <label for="choice">Choice: </label>
            {% if choice %}
                <input id="choice" type="text" name="choice" value="{{ choice.choice }}"/>
            {% else %}
                <input id="choice" type="text" name="choice" />
            {% endif %}
        </div>
        <input type="submit" value="Save Choice" />
    </form>