{% extends 'layouts/_default.twig' %}

{% block main_content %}
    <h2 style="margin:0">Choices:</h2>
    <ul>
        {% for choice in choices %}
            <li>
                {{ choice.choice }} - 
                <a href="/choices/{{ choice.id }}">View</a>
                 |
                <a href="/choices/{{ choice.id }}/edit">Edit</a>
                 |
                <a href="/choices/{{ choice.id }}/delete">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <div>
        <a href="/choices/new">Create New Choice</a>
    </div>
{% endblock %}